@CHARSET "UTF-8";

/**
 * @author Matthieu Napoli
 * 
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the Lesser GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  Lesser GNU General Public License for more details.
 *
 *  You should have received a copy of the Lesser GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
    margin: 0;
    color: #333333;
    font-family: 'Lucida Grande',Verdana,Helvetica,sans-serif;
    font-size: 0.9em;
}

h1 {
    color: #93B876;
    padding-bottom: 40px;
    border-bottom: dotted 1px #93B876;
    font-family: Georgia,'Times New Roman',Times,serif;
    font-weight: normal;
    font-size: 3.1em;
    text-align: right;
}
h2 {
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-top: 20px;
    padding-left: 10px;
    border-bottom: solid 1px #999999;
    font-size: 1.4em;
    font-variant: small-caps;
}
h2 #deleteAll {
    position: absolute;
    right: 10px;
    font-size: 0.7em;
    font-variant: normal;
    margin-top: 4px;
}
h2 #deleteAllIcon {
    position: absolute;
    right: 47px;
}

a {
    color: #AE855C;
}
a img {
    text-decoration: none;
}

li {
    margin-bottom: 10px;
    margin-left: 20px;
    list-style: disc outside;
}

#map {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    left: 0;
}
#base {
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px 30px;
}
#baseRelative {
    position: relative;
    width: 100%;
    height: 100%;
}
#header {
    position: absolute;
    top: 0;
    height: 200px;
    width: 100%;
}
#content {
    position: absolute;
    overflow-y: scroll;
    top: 200px;
    bottom: 100px;
    width: 100%;
}
#total {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
}

li.route {
    margin-bottom: 20px;
}
p.distance {
    margin-top: 5px;
}

#totalEmission {
    color: white;
    background-color: #93B876;
    padding: 7px;
    text-align: right;
    font-weight: bold;
    font-size: 1.3em;
}

/*================================*/
/*          Message Box           */
/*================================*/

#messagebox {
    display: none;
}
